@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
}
a,p,h1,h2,h3,h4,h5,h6 {
  margin: 0;
  text-decoration: none;
  line-height: 1.2;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 400;
}
button:focus,
textarea:focus,
select:focus {
  outline: none !important;
  -webkit-appearance: none;
  box-shadow: none;
}
input:focus {
  outline: none !important;
}
a:active,
a:focus {
  outline: 0;
  outline: none !important;
  border: none;
}
a:-webkit-any-link:focus-visible {
  outline-offset: unset;
}
:focus-visible {
  outline: none;
}
a {
  display: inline-block;
  transition: 0.3s all ease;
  text-decoration: none;
}
a:hover {
  color: inherit;
}
input,
button,
img {
  transition: 0.3s all ease;
}

.wrapper {
  overflow: hidden;
}
.owl-drag {
  overflow: hidden;
}
.owl-item {
  float: left;
}
.owl-dots {
  display: none;
}

/* ========== Breadcrumbs ============== */
.bread-crumbs {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.bread-crumbs a,
.bread-crumbs span,
.bread-crumbs p {
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-transform: capitalize;
  color: #696969;
}
.bread-crumbs span {
  margin: 0 6px;
}
.bread-crumbs a:hover {
  color: #000;
}
/* ========== End Breadcrumbs ============== */
main {
  padding-top: 50px;
}


.header-top {
  background: #1B3B58;
  padding: 5px 8px;
  position: relative;
}
.header-top span {
  display: inline-block;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  margin-left: auto;
  white-space: nowrap;
}
.header-top.second {
  border-top: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-top.first .close-top {
  position: absolute;
  right: 0px;
  top: -1px;
  background: #1B3B58;
  height: 26px;
  width: 30px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-top.second .close-top {
  margin-left: auto;
}

.header-top.first {
  padding: 0;
}
.header-top .owl-drag {
  overflow: visible;
  padding: 0;
  margin-top: -4px;
}
.header-top .owl-nav {
  display: none;
}
/* /////////// */
.header-menu-con {
  background: #F0F0F0;
}
.header-menu-rov {
  align-items: center;
}
.header-menu > .col-4 {
  display: flex;
  align-items: center;
}
.header-menu {
  justify-content: space-between;
}
.header-menu .header-menu-left .menu-link {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #1C3C57;
  margin-right: 40px;
  text-transform: uppercase;
}
.header-menu .header-menu-left form {
  position: relative;
}
.header-menu .header-menu-left form input {
  background: #FFFFFF;
  border-radius: 16.5px;
  height: 33px;
  max-width: 185px;
  width: 100%;
  border: none;
  padding: 8px 14px;
  background-image: url('../images/search-icon.svg');
  background-repeat: no-repeat;
  background-position: left 14px center;
  font-size: 14px;
}
.header-menu .header-menu-left form input:focus {
  background-image: none;
}
.header-menu .header-menu-right,
.header-menu .header-menu-left {
  display: flex;
  align-items: center;
}
.header-menu .header-menu-logo {
  text-align: center;
}

.header-menu .header-menu-right {
  justify-content: flex-end;
}
.header-menu .header-menu-right a {
  margin-right: 40px;
}
.header-menu .header-menu-right a:last-child {
  margin-right: 0;  
}
/* //////////// */
header .navbar {
  padding: 35px 0 20px;
  border-bottom: 2px solid #F2F2F2;
}
header .navbar .navbar-nav .nav-link {
  padding: 0;
  font-size: 12px;
  line-height: 14px;
  color: #1B3B58;
  text-transform: uppercase;
}
header .navbar .navbar-nav .nav-link img {opacity: 0;}
header .navbar-expand-lg .navbar-nav {
  justify-content: space-between;
  width: 100%;
}
header .navbar .navbar-nav .dropdown-item {
  font-size: 12px;
  line-height: 14px;
  color: #696969;
  margin-bottom: 5px;
}
.dropdown-toggle::after {content: none;}
/* ============== End Header ============= */
.product-sec .product-col:nth-child(odd){
  padding-right: 10px;
}
.product-sec .product-col:nth-child(even) {
  padding-left: 0;
}
.product-sec .product-img {
  margin-bottom: 10px;
  position: relative;
}
.product-sec .product-img img {
  width: 100%;
  height: 530px;
  object-fit: cover;
}
.product-sec .product-img .show-more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;
  background: #FFFFFF;
  border-radius: 25px;
  font-size: 12px;
  color: #696969;
  z-index: 2;
  width: 180px;
  height: 30px;
  text-align: center;
}
.product-sec .product-img .show-more-btn:hover {
  background: #696969;
  color: #fff;
}
/* //////// */
.product-info {
  margin-top: 90px;
}
.product-info .info-block h3 {
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 23px;
  color: #696969;
}
.product-info .info-text p {
  font-size: 12px;
  line-height: 14px;
  color: #696969;
  margin-bottom: 10px;
}
.product-info .info-text p span.yellow-text {
  color: #E28903;
}
.product-info .info-text {
  margin-bottom: 30px;
}
.product-info .info-warm {
  margin-bottom: 30px;
}
.product-info .info-block h3 {
  font-size: 20px;
  line-height: 23px;
  color: #696969;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.product-info .info-block h3 span {
  color: #E28903;
}
.product-info .info-warm p {
  font-size: 12px;
  line-height: 14px;
  color: #696969;
}
.product-info .info-icon {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.product-info .info-icon img {
  margin-right: 10px;
}
.product-info .info-icon .in-text h6 {
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  margin-bottom: 2px;
  color: #E28903;
}
.product-info .info-icon .in-text p {
  font-size: 12px;
  line-height: 14px;
  color: #696969;
}
.product-info .info-temprature p.temp-text {
  margin-bottom: 15px;
}
.product-info .info-temprature p {
  font-size: 12px;
  line-height: 14px;
  color: #696969;
}
.product-info .info-temprature .temprature-gradus .gradus-line {
  display: block;
  height: 12px;
  background: linear-gradient(270deg, rgba(226, 137, 3, 0) 20%, #E28903 47.53%, rgba(226, 137, 3, 0) 75.06%);
  margin-bottom: 5px;
}
.product-info .info-temprature .temprature-gradus .gradus-num {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.product-info .info-temprature .temprature-gradus .gradus-num span {
  display: inline-block;
  font-size: 12px;
  line-height: 14px;
  color: #696969;
}
.product-info .info-temprature .temprature-items p {
  text-transform: uppercase;
  line-height: 1;
  width: 40%;
}
.product-info .info-temprature .temprature-items .items-line {
  width: 60%;
}
.product-info .info-temprature .temprature-items .items-line span {
  width: 100%;
}
.product-info .info-temprature .temprature-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
}
.product-info .info-temprature .temprature-items .items-line {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.product-info .info-temprature .temprature-items .items-line span {
  display: inline-block;
  width: 100%;
  height: 10px;
  margin-right: 2px;
  background: #F0F0F0;
}
.product-info .info-temprature .temprature-items .items-line span.active {
  background: #696969;
}
.product-info .info-temprature .temprature-link {
  text-align: right;
  margin-top: -5px;
}
.product-info .info-temprature .temprature-link a {
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #696969;
  text-decoration: underline;
}
.product-info .info-temprature .temprature-link a:hover {
  text-decoration: none;
}
/* /////// */
.product-sec .product-side .side-tag {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.product-sec .product-side .side-tag span {
  display: inline-block;
  font-size: 12px;
  line-height: 0px;
  text-transform: uppercase;
  padding: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  white-space: nowrap;
}
.product-sec .product-side .side-tag span:last-child {
  margin-right: 0;
}
.product-sec .product-side .side-tag span.red {
  background: #825454;
  color: #fff;
}
.product-sec .product-side .side-tag span.yellow {
  background: #E28903;
  color: #fff;
}
.product-sec .product-side .side-tag span.light-gray {
  background: #F0F0F0;
  color: #696969;
}

.product-sec .product-side .product-price p,
.product-sec .product-side .product-name h2 {
  font-size: 24px;
  line-height: 28px;
  color: #1B3B58;
  margin-bottom: 10px;
}
.product-sec .product-side .product-price p {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid #F0F0F0;
}
.product-sec .product-side .product-color p {
  font-size: 14px;
  line-height: 16px;
  color: #1B3B58;
  margin-bottom: 10px;
}
.product-sec .product-side .product-color p span {
  color: #696969;
}
/* ========== */
.colors {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 2px solid #F0F0F0;
}
.colors span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: 1px solid #D7D7D7;
  border-radius: 10px;
  margin-right: 5px;
  transition: .3s all ease;
}
.colors a {
  display: inline-block;
  border-radius: 5px;
  width: 50px;
  height: 30px;
  
}
.colors span:hover,
.colors span.active {
  border-color: #696969;
}
.colors a.pink {
  background: #C4B4C8;
}
.colors a.light-blue {
  background: #B7C9E2;
}
.colors a.light-gray {
  background: #C9DBD7;
}
.colors a.gray {
  background: #E2E2E4;
}
/* ========== */
.product-sec .product-size .size-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.product-sec .product-size .size-text p {
  font-size: 14px;
  line-height: 16px;
  color: #1B3B58;
}
.product-sec .product-size .size-text a {
  font-size: 12px;
  line-height: 14px;
  text-decoration-line: underline;
  color: #696969;
}
.product-sec .product-size .size-text a:hover {
  text-decoration: none;
}
.size-block {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.size-block .size-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 5px 5px 0;
  width: 58px;
  height: 58px;
  border: 1px solid #D7D7D7;
  border-radius: 5px;
}
.size-block .size-item.active,
.size-block .size-item:hover {
  border-color: #696969;
}
.size-block .size-item.no-bor {
  border: none;
}
.size-block .size-item span {
  font-size: 16px;
}
.size-block .size-item span.first {
  color: #696969;
}
.size-block .size-item span.second {
  color: #D7D7D7;
}

.product-sec .product-side .product-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0 15px;
}
.product-sec .product-side .product-cart .add-to-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1B3B58;
  border-radius: 25px;
  height: 40px;
  width: 100%;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 1px solid transparent;
}
.product-sec .product-side .product-cart .add-to-cart:hover {
  border-color: #D7D7D7;
  color: #696969;
  background: transparent;
}
.product-sec .product-side .product-cart .add-to-fav svg path {
  transition: .3s all ease;
}
.product-sec .product-side .product-cart .add-to-fav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #D7D7D7;
}
.product-sec .product-side .product-cart .add-to-fav:hover svg path {
  fill: #B72025;
  stroke: #B72025;
}
.accordion-item:last-of-type,
.accordion-item:last-of-type .accordion-collapse {
  border-radius: 0;
}
.product-sec .accordion-button:focus{
  border: none;
  box-shadow: none;
  background: transparent;
}
.product-sec .accordion-item {
  border: none;
  border-bottom: 1px solid #F0F0F0;
}
.product-sec .accordion-item:last-child {
  border: none;
}
.product-sec .accordion-button {
  padding: 15px 0;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #696969;
}
.product-sec .accordion-button img {
  margin-left: auto;
}
.product-sec .accordion-button[aria-expanded="true"] img {
  transform: rotate(180deg);
}
.product-sec .accordion-button:not(.collapsed) {
  color: #696969;
  box-shadow: none;
  background: transparent;
}
.product-sec .accordion-body {
  padding: 0 0 10px;
  font-size: 14px;
}
.product-sec .accordion-button::after {
  content: none;
}
.product-sec .side-slide {
  position: relative;
}
.product-sec .side-slide .side-slide-img {
  position: relative;
}
.product-sec .side-slide .side-slide-img img {
  width: 100%;
  height: auto;
}
.product-sec .side-slide .side-slide-img .fav-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  opacity: 0;
}
.product-sec .side-slide-item:hover .side-slide-img .fav-icon {
  opacity: 1;
}

.product-sec .side-slide .side-slide-text a {
  font-size: 14px;
  line-height: 16px;
  color: #696969;
  margin: 10px 0 5px;
}
.product-sec .side-slide .side-slide-text a:hover {
  color: #B72025;
}
.product-sec .side-slide .side-slide-text span {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  color: #696969;
}
.product-sec .side-slide .owl-nav button {
  position: absolute;
  top: 36%;
  padding: 0;
  border: none;
  background: transparent;
  border-radius: 50%;
}
.product-sec .side-slide .owl-nav button.owl-prev {
  left: -14px;
}
.product-sec .side-slide .owl-nav button.owl-next {
  right: -14px;
}

/* /////////// */
.product-line {
  padding-top: 100px;
}
.title h2 {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #696969;
  margin-bottom: 30px;
}
.title h2 span {
  color: #E28903;
}

.product-line .line-col {
  position: relative;
}
.product-line .line-col .owl-nav button {
  position: absolute;
  top: 36%;
  padding: 0;
  border: none;
  background: transparent;
  border-radius: 50%;
}
.product-line .line-col .owl-nav button.owl-prev {
  left: -7px;
}
.product-line .line-col .owl-nav button.owl-next {
  right: -7px;
}
.product-line .line-block .line-img {
  position: relative;
  margin-bottom: 10px;
}
.product-line .line-block .line-img img {
  width: 100%;
  height: 380px;
}
.line-img .fav-icon {
  position: absolute;
  top: 12px;
  right: 12px;
  opacity: 0;
}
.fav-icon:hover svg path {
  fill: #B72025;
  stroke: #B72025;
}
.line-block:hover .fav-icon {
  opacity: 1;
}
.product-line .line-block:hover .line-img .quick-view {
  opacity: 1;
}
/* =============== */
.tags {
  position: absolute;
  left: 5px;
  bottom: 5px;
  display: flex;
  align-items: center;
}
.tags span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 0;
  text-transform: uppercase;
  color: #696969;
  padding: 10px;
  margin-right: 5px;
}
.tags span.new {
  background: #F0F0F0;
}
.tags span:last-child {
  margin-right: 0;
}
.tags span.sale {
  background: #B72025;
  color: #fff;
}
/* =============== */
.product-line .line-block .line-text a {
  font-size: 16px;
  line-height: 18px;
  color: #696969;
  margin-bottom: 10px;
}
.product-line .line-block .line-text a:hover {
  color: #B72025;
}
.product-line .line-block .line-price del,
.product-line .line-block .line-text span {
  display: block;
  font-size: 16px;
  line-height: 18px;
  color: #696969;
}
.product-line .line-block .line-price {
  display: flex;
  align-items: center;
}
.product-line .line-block .line-price span.sale-price {
  color: #B72025;
  margin-left: 10px;
}
/* ========================== */
.product-resp {
  padding-top: 100px;
}
.product-resp .resp-col {
  position: relative;
}
.product-resp .resp-col .owl-nav button {
  position: absolute;
  top: 36%;
  padding: 0;
  border: none;
  background: transparent;
  border-radius: 50%;
}
.product-resp .resp-col .owl-nav button.owl-prev {
  left: -7px;
}
.product-resp .resp-col .owl-nav button.owl-next {
  right: -7px;
}
.product-resp .resp-block .resp-img {
  position: relative;
  margin-bottom: 10px;
  overflow: hidden;
}
.product-resp .resp-block .resp-img img {
  width: 100%;
  height: 380px;
}
.product-resp .resp-block .resp-text a {
  font-size: 16px;
  line-height: 18px;
  color: #696969;
  margin-bottom: 10px;
}
.product-resp .resp-block .resp-text a:hover {
  color: #B72025;
}
.product-resp .resp-block .resp-price del,
.product-resp .resp-block .resp-text span {
  display: block;
  font-size: 16px;
  line-height: 18px;
  color: #696969;
}
.product-resp .resp-block .resp-price {
  display: flex;
  align-items: center;
}
.product-resp .resp-block .resp-price span.sale-price {
  color: #B72025;
  margin-left: 10px;
}
.resp-img .fav-icon {
  position: absolute;
  top: 12px;
  right: 12px;
  opacity: 0;
}
.resp-img .fav-icon:hover svg path {
  fill: #B72025;
  stroke: #B72025;
}
.resp-block:hover .fav-icon {
  opacity: 1;
}
.quick-view {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #696969;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
  padding: 6px 0;
  opacity: 0;
}
.product-resp .resp-block:hover .resp-img .quick-view {
  opacity: 1;
}
/* ============= why sec ======================== */
.why-sec {
  padding-top: 100px;
}
.why-sec .why-block img {
  width: 100%;
  height: 180px;
}
.why-sec .why-block h5 {
  margin: 15px 0 10px;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  color: #696969;
}
.why-sec .why-block p {
  font-size: 12px;
  line-height: 14px;
  color: #696969;
  height: 42px;
  overflow: hidden;
}
.why-sec .why-block a {
  opacity: 0;
  visibility: hidden;
  margin-top: 15px;
  background: #FFFFFF;
  border: 1px solid #D7D7D7;
  border-radius: 25px;
  padding: 8px 10px;
  width: 100%;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #696969;
}
.why-sec .why-block:hover a {
  opacity: 1;
  visibility: visible;
}
.why-sec .why-block a:hover {
  background: #1B3B58;
  border-color: #1B3B58;
  color: #fff;
}
.why-sec .why-col {
  position: relative;
  padding: 0;
}
.why-sec .why-slide {
  padding: 0;
  margin: 0;
}
.why-sec .why-slide .owl-nav button {
  position: absolute;
  top: 21%;
  padding: 0;
  border: none;
  background: transparent;
  border-radius: 50%;
}
.why-sec .why-slide .owl-nav button.owl-prev {
  left: -7px;
}
.why-sec .why-slide .owl-nav button.owl-next {
  right: -7px;
}
/* ========================= */
.help-sec {
  padding: 100px 0 60px;
}
.help-sec .help-block {
  background: #F0F0F0;
  padding: 20px;
  border: 1px solid #F0F0F0;
  border-radius: 10px;
  text-align: center;
}
.help-sec .help-block h3 {
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  color: #696969;
  margin-bottom: 40px;
}
.help-sec .help-block p {
  font-size: 12px;
  line-height: 14px;
  color: #696969;

}
/* ============= Footer ======================== */
footer {
  background: #1B3B58;
  padding-top: 60px;
}
footer .ftr-rov {
  padding-bottom: 60px;
}
footer .ftr-menu {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
footer .ftr-menu p {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.333333px;
  color: #FFFFFF;
  margin-bottom: 30px;
}
footer .ftr-menu p img {
  opacity: 0;
}
footer .ftr-menu a {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.333333px;
  color: #FFFFFF;
  margin-bottom: 10px;
}
footer .ftr-menu a:hover {
  color: #ccc;
}
footer .ftr-menu a:last-child {
  margin-bottom: 0;
}

footer .socials {
  text-align: center;
}
footer .socials a {
  margin-right: 15px;
}
footer .socials a:hover {
  transform: scale(1.1);
}
footer .socials a:last-child {
  margin-right: 0;
}

footer .ftr-con {
  background: #F0F0F0;
  padding: 30px 0;
}
footer .ftr-politic .ftr-politic-text,
footer .ftr-politic {
  display: flex;
  align-items: center;
}
footer .ftr-politic p,
footer .ftr-politic a {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.333333px;
  color: #1B3B58;
}
footer .ftr-politic a:hover {
  text-decoration: underline;
}
footer .ftr-politic a {
  margin: 0 30px;
}
/* ============ modal add to card ========== */
.modal-dialog {
  max-width: 806px;
}
.modal-content {
  padding: 30px;
  background: #fff;
  border-radius: 0;
}
.modal .modal-close {
  padding: 0;
  border: none;
  background: transparent;
  transition: .5s all ease;
}
.modal .modal-close img {
  width: 18px;
  height: 18px;
}
.modal .modal-close:hover {
  transform: rotate(90deg);
}
.modal-header {
  padding: 0 0 15px;
  border-color: #F2F2F2;
}
.modal-header h5 {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #1B3B58;
}
.modal-body {
  padding: 0;
}
.cart-modal .modal-cart-top {
  padding: 15px;
  border-top: 1px solid #F2F2F2;
  border-bottom: 1px solid #F2F2F2;
}
.cart-modal .cart-top {
  display: flex;
  align-items: flex-start;
}
.cart-modal .cart-top .cart-top-img img {
  width: 100px;
  height: 130px;
}
.cart-modal .cart-top .cart-top-text {
  margin-left: 15px;
}
.cart-modal .cart-top .cart-top-text p {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 14px;
  color: #696969;
}
.cart-modal .cart-top .cart-top-text p.ctt-p {
  font-size: 16px;
  line-height: 18px;
  color: #696969;
}


.cart-modal .cart-top-price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.cart-modal .cart-top-price span,
.cart-modal .cart-top-price del {
  font-size: 16px;
  line-height: 18px;
  color: #696969;
}
.cart-modal .cart-top-price span {
  color: #B72025;
}

.cart-modal .cart-top-count .count {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.cart-modal .cart-top-count .count span {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #D7D7D7;
  font-size: 25px;
  font-weight: 300;
  color: #696969;
  padding-bottom: 2px;
}
.cart-modal .cart-top-count .count span.active {
  color: #fff;
  background: #1B3B58;
  border-color: #1B3B58;
}
.cart-modal .cart-top-count .count input {
  width: 40px;
  border: none;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  color: #696969;
}
.cart-modal input::-webkit-outer-spin-button,
.cart-modal input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.cart-modal input[type=number] {
  -moz-appearance: textfield;
}

.cart-modal .modal-progress {
  padding: 50px 0 20px;
  border-bottom: 1px solid #F2F2F2;
}
.cart-modal .progress-title {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.cart-modal .progress-title span {
  margin-right: 10px;
  display: flex;
}
.cart-modal .progress-title span.active svg rect {
  stroke: #1B3B58;
}
.cart-modal .progress-title span.active svg path {
  stroke: #1B3B58;
}
svg path {
  transition: .3s all ease;
}
.cart-modal .progress-title p {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #1B3B58;
}
.cart-modal .progress {
  height: 10px;
  background: #F0F0F0;
  border-radius: 4px;
}
.cart-modal .progress-bar {
  background: #1B3B58;
  border-radius: 4px;
}

.cart-modal .modal-slide-block {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}
.cart-modal .modal-slide {
  margin-left: -15px;
  margin-right: -15px;
}
.cart-modal .modal-slide .owl-nav button {
  position: absolute;
  top: 30%;
  padding: 0;
  border: none;
  background: transparent;
  border-radius: 50%;
}
.cart-modal .modal-slide .owl-nav button.owl-prev {
  left: -17px;
}
.cart-modal .modal-slide .owl-nav button.owl-next {
  right: -17px;
}
.cart-modal .modal-slide .mSlide-img {
  position: relative;
  margin-bottom: 10px;
}
.cart-modal .modal-slide .mSlide-img img {
  width: 100%;
  height: 230px;
}
.cart-modal .modal-slide .mSlide-text a {
  font-size: 12px;
  line-height: 14px;
  color: #696969;
  margin-bottom: 5px;
}
.cart-modal .modal-slide .mSlide-text a:hover {
  color: #B72025;
}
.cart-modal .modal-slide .mSlide-price del,
.cart-modal .modal-slide .mSlide-text span {
  display: block;
  font-size: 12px;
  line-height: 14px;
  color: #696969;
}
.cart-modal .modal-slide .mSlide-price {
  display: flex;
  align-items: center;
}
.cart-modal .modal-slide .mSlide-price span.sale-price {
  color: #B72025;
  margin-left: 10px;
}
.cart-modal .cart-modal-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
}
.cart-modal .cart-modal-btns .transparent-btn {
  margin-right: 5px;
}
.cart-modal .cart-modal-btns .blue-btn {
  margin-left: 5px;
}
.transparent-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #696969;
  width: 100%;
  border: 1px solid #D7D7D7;
  height: 40px;
  border-radius: 25px;
}
.transparent-btn:hover {
  background: #696969;
  color: #fff;
}
.blue-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 25px;
  color: #FFFFFF;
  background: #1B3B58;
  width: 100%;
  height: 40px;
  border: 1px solid transparent;
}
.blue-btn:focus,
.blue-btn:active,
.blue-btn:hover {
  border-color: #1B3B58;
  color: #1B3B58;
  background: transparent;
  border: 1px solid #1B3B58;
}
/* =========== product-modal ===================1 */
.modal-select-size .modal-close,
.modal-size .modal-close,
.product-modal .modal-close {
  position: absolute;
  right: -32px;
  top: 2px;
}
.product-modal .product-popup-slide .popup-img {
  position: relative;
}
.product-modal .product-popup-slide .popup-img img {
  width: 100%;
}
.product-modal .product-popup-slide {
  position: relative;
}
.product-modal .product-popup-slide .owl-nav button {
  position: absolute;
  top: 48%;
  padding: 0;
  border: none;
  background: transparent;
  border-radius: 50%;
}
.product-modal .product-popup-slide .owl-nav button.owl-prev {
  left: -14px;
}
.product-modal .product-popup-slide .owl-nav button.owl-next {
  right: -14px;
}
/* /////// */
.product-modal .pop-product-side .pop-side-tag {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.product-modal .pop-product-side .pop-side-tag span {
  display: inline-block;
  font-size: 12px;
  line-height: 0px;
  text-transform: uppercase;
  padding: 10px;
  margin-right: 5px;
}
.product-modal .pop-product-side .pop-side-tag span.red {
  background: #825454;
  color: #fff;
}
.product-modal .pop-product-side .pop-side-tag span.yellow {
  background: #E28903;
  color: #fff;
}
.product-modal .pop-product-side .pop-side-tag span.light-gray {
  background: #F0F0F0;
  color: #696969;
}

.product-modal .pop-product-side .pop-product-price p,
.product-modal .pop-product-side .pop-product-name h2 {
  font-size: 24px;
  line-height: 28px;
  color: #1B3B58;
  margin-bottom: 10px;
}
.product-modal .pop-product-side .pop-product-price p {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid #F0F0F0;
}
.product-modal .pop-product-side .pop-product-color p {
  font-size: 14px;
  line-height: 16px;
  color: #1B3B58;
  margin-bottom: 10px;
}
.product-modal .pop-product-side .pop-product-color p span {
  color: #696969;
}
.product-modal .pop-product-size .size-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.product-modal .pop-product-size .size-text p {
  font-size: 14px;
  line-height: 16px;
  color: #1B3B58;
}
.product-modal .pop-product-size .size-text a {
  font-size: 12px;
  line-height: 14px;
  text-decoration-line: underline;
  color: #696969;
}
.product-modal .pop-product-size .size-text a:hover {
  text-decoration: none;
}
.product-modal .pop-product-size .size-block {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.product-modal .pop-product-size .size-block .size-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 5px 5px 0;
  width: 50px;
  height: 50px;
  border: 1px solid #D7D7D7;
  border-radius: 5px;
}
.product-modal .pop-product-size .size-block .size-item.active,
.product-modal .pop-product-size .size-block .size-item:hover {
  border-color: #696969;
}
.product-modal .pop-product-size .size-block .size-item.no-bor {
  border: none;
}
.product-modal .pop-product-size .size-block .size-item span {
  font-size: 16px;
}
.product-modal .pop-product-size .size-block .size-item span.first {
  color: #696969;
}
.product-modal .pop-product-size .size-block .size-item span.second {
  color: #D7D7D7;
}

.product-modal .pop-product-side .pop-product-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0 30px;
}
.product-modal .pop-product-side .pop-product-cart .add-to-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1B3B58;
  border-radius: 25px;
  height: 40px;
  width: 100%;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 1px solid transparent;
}
.product-modal .pop-product-side .pop-product-cart .add-to-cart:hover {
  border-color: #D7D7D7;
  color: #696969;
  background: transparent;
}
.product-modal .pop-product-side .pop-product-cart .add-to-fav svg path {
  transition: .3s all ease;
}
.product-modal .pop-product-side .pop-product-cart .add-to-fav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #D7D7D7;
}
.product-modal .pop-product-side .pop-product-cart .add-to-fav:hover svg path {
  fill: #B72025;
  stroke: #B72025;
}
.product-modal .accordion-item:last-of-type,
.product-modal:last-of-type .accordion-collapse {
  border-radius: 0;
}
.product-modal .accordion-button:focus{
  border: none;
  box-shadow: none;
  background: transparent;
}
.product-modal .accordion-item {
  border: none;
  border-bottom: 1px solid #F0F0F0;
}
.product-modal .accordion-button {
  padding: 15px 0;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #696969;
}
.product-modal .accordion-button img {
  margin-left: auto;
}
.product-modal .accordion-button[aria-expanded="true"] img {
  transform: rotate(180deg);
}
.product-modal  .accordion-button:not(.collapsed) {
  color: #696969;
  box-shadow: none;
  background: transparent;
}
.product-modal .accordion-body {
  padding: 0 0 10px;
  font-size: 14px;
}
.accordion-button::after {
  content: none;
}
.product-modal .pop-link {
  text-align: center;
}
.product-modal .pop-link a.more-info {
  display: block;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  text-decoration-line: underline;
  color: #696969;
  margin-top: 16px;
}
/* =========== size-modal ===================1 */
.modal-size .modal-dialog {
  max-width: 965px;
}
.modal-size .modal-content {
  padding: 0;
  background: #D9D9D9;
}
.modal-size .pop-size-col {
  padding-right: 0;
}
.modal-size .pop-size-img img {
  max-height: 677px;
}
.modal-size .pop-size-side img,
.modal-size .pop-size-img img {
  width: 100%;
}
.modal-size .modal-body .determine-size {
  background: #fff;
  padding: 30px;
  margin-top: 15px;
}
.modal-size .modal-body .determine-size p {
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  color: #696969;
  margin-bottom: 15px;
}
.modal-size .modal-body .determine-size span {
  display: inline-block;
  font-size: 12px;
  line-height: 14px;
  color: #696969;
}
.modal-size .modal-body .determine-in span {
  margin-bottom: 30px;
}
.modal-size .modal-body .determine-size span a {
  color: #696969;
  text-decoration: underline;
}
/* modal select size */
.modal-select-size .modal-dialog {
  max-width: 445px;
}
.modal-select-size .pop-select-size .size-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.modal-select-size .pop-select-size .size-text p {
  font-size: 14px;
  line-height: 16px;
  color: #1B3B58;
}
.modal-select-size .pop-select-size .size-text a {
  font-size: 12px;
  line-height: 14px;
  text-decoration-line: underline;
  color: #696969;
}
.modal-select-size .pop-select-size .size-text a:hover {
  text-decoration: none;
}
.modal-select-size .size-table-link {
  text-align: center;
}
.modal-select-size .size-table-link a {
  font-size: 12px;
  line-height: 14px;
  text-decoration-line: underline;
  color: #696969;
}
.modal-select-size .size-table-link a:hover {
  text-decoration: none;
}
/* ////////////////////// */


.medium,
.tab,
.mob {
  display: none;
}


@media only screen and (max-width: 1400px) {
  .product-info .info-temprature .temprature-items p {
    width: 46%;
  }
  .product-info .info-temprature .temprature-items .items-line {
    width: 56%;
  }
  .product-resp .resp-block .resp-img img,
  .product-line .line-block .line-img img,
  .why-sec .why-block img,
  .product-sec .side-slide .side-slide-img img {
    height: auto;
  }
}



@media only screen and (max-width: 1200px) {
  .product-info .info-temprature .temprature-items p {
    width: 54%;
  }
  .product-info .info-temprature .temprature-items .items-line {
    width: 46%;
  }
}


@media only screen and (max-width: 1045px) {
  .why-sec .why-slide .col-lg-3 {
    width: 100%;
  }
}



@media only screen and (max-width: 1025px) {
  .medium{display: block;}
  .pc{display: none;}
  .why-sec .why-slide .owl-stage-outer {
    padding: 0;
  }
  .why-sec .why-slide .col-lg-3 {
    width: 100%;
  }
  .why-sec .why-col {
    padding-left: 15px;
    padding-right: 15px;
  }
  .product-sec .product-img img {
    height: 400px;
  }
  .temprature-block,
  .product-info {
    margin-top: 60px;
  }
  .line-img .fav-icon,
  .resp-img .fav-icon {
    opacity: 1;
  }
  .why-text {
    padding-right: 25px;
  }
  .product-info .info-temprature .temprature-items p {
    width: 36%;
  }
  .product-info .info-temprature .temprature-items .items-line {
    width: 64%;
  }
}



@media only screen and (max-width: 992px) {
  .medium {display: none;}
  .tab {display: block;}
  .product-sec .product-img img {
    height: auto;
  }
  .product-info .info-temprature .temprature-items p {
    width: 50%;
  }
  .product-info .info-temprature .temprature-items .items-line {
    width: 50%;
  }
  header .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }
  .product-sec .product-col:nth-child(odd){
    padding-right: 15px;
  }
  .product-sec .product-col:nth-child(even) {
    padding-left: 15px;
  }
  .cart-modal .modal-slide .mSlide-img img {
    height: auto;
  }
  .product-sec .product-side .side-tag span {
    white-space: nowrap;
  }
  .why-sec .why-block img {
    height: 206px;
  }
  .help-sec .help-block h3 {
    font-weight: 400;
  }
  .help-sec .help-block {
    height: 100%;
  }
}




@media only screen and (max-width: 767px) {
  .product-modal .pop-product-side {
    margin-top: 20px;
  }
  .product-sec .product-img {
    width: 100%;
  }
  section {
    padding-left: 5px;
    padding-right: 5px;
  }
  .product-info .info-temprature .temprature-items p {
    width: 40%;
  }
  .product-info .info-temprature .temprature-items .items-line {
    width: 60%;
  }
  .modal-select-size .size-block .size-item {
    width: 60px;
    height: 60px;
  }
  .modal-select-size .modal-dialog {
    width: 88%;
    margin-top: 50px;
  }
  .why-sec .why-block a {
    opacity: 1;
    visibility: visible;
  }
  .why-sec .why-slide .owl-nav button.owl-prev {
    left: 0;
  }
  .why-sec .why-slide .owl-nav button.owl-next {
    right: 0;
  }
  .product-resp .resp-col .owl-nav button.owl-prev,
  .product-line .line-col .owl-nav button.owl-prev {
    left: -4px;
  }
  .product-resp .resp-col .owl-nav button.owl-next,
  .product-line .line-col .owl-nav button.owl-next {
    right: -4px;
  }
  .why-sec .why-slide.owl-drag,
  .product-resp .owl-drag,
  .product-line .owl-drag {
    overflow: visible;
  }
  .product-info .info-temprature .temprature-items {
    justify-content: flex-start;
  }
  .product-modal .modal-content {
    padding: 20px 15px;
  }
  .modal-size .modal-body .pop-size-block {
    display: flex;
    flex-direction: column;
  }
  .modal-size .modal-body .determine-size {
    padding: 20px;
    order: 1;
  }
  .modal-size .modal-body .pop-size-side {
    order: 2;
  }
  .modal-size .modal-body .determine-in {
    height: 30px;
    overflow: hidden;
  }
  .modal-size .modal-body .determine-in.show {
    height: auto;
    overflow: auto;
  }
  .modal-size .modal-body .determine-in.show p img {
    transform: rotate(180deg);
  }
  .modal-size .modal-body .determine-size p {
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .modal-size .modal-body .determine-in span {
    margin-bottom: 10px;
  }
  .modal-size .modal-body .determine-size {
    margin-top: 0;
  }
  .modal-size .modal-close,
  .product-modal .modal-close {
    top: 10px;
    right: 10px;
    z-index: 2;
  }
  .modal-size .modal-close svg path,
  .product-modal .modal-close svg path {
    stroke: #000;
  }
  .product-modal .modal-close {
    top: -6px;
    right: -1px;
  }
  .product-modal .modal-close svg {
    height: 15px;
  }
  .modal-cart-top .cart-col {
    margin-top: -20px;
  }
  .modal-content {
    padding: 20px;
  }
  main {
    padding-top: 30px;
  }
  .header-menu-con {
    padding-left: 0;
    padding-right: 0;
  }
  footer .ftr-politic a {
    margin: 0;
  }
  .mob{display: block;}
  .mob-menu {
    display: flex;
    align-items: center;
  }
  .mob-menu .mob-menu-btn {
    margin-right: 40px;
  }
  header .header-menu-right .login-link {
    display: none;
  }
  .header-menu .header-menu-left form input {
    padding: 0;
    height: 30px;
    width: 30px;
    background-position: center;
    background-color: #F0F0F0;
  }
  .size-block .size-item {
    width: 54px;
    height: 54px;
  }
  footer .ftr-menu a,
  footer .ftr-menu p {
    font-size: 12px;
    line-height: 1.2;
  }
  footer .socials {
    text-align: right;
  }
  footer .ftr-politic .ftr-politic-text {
    flex-direction: column;
    align-items: flex-start;
  }
  .product-sec .product-col:nth-child(odd) {
    padding-right: 25px;
  }
  .mob-slide {
    position: relative;
  }
  .mob-slide .owl-nav button {
    position: absolute;
    top: 48%;
    padding: 0;
    border: none;
    background: transparent;
    border-radius: 50%;
  }
  .mob-slide .owl-nav button.owl-prev {
    left: -5px;
  }
  .mob-slide .owl-nav button.owl-next {
    right: -5px;
  }
  .mob-slide .owl-dots {
    display: flex;
    align-items: center;
    position: absolute;
    left: 5px;
    top: 5px;
    width: 97%;
  }
  .mob-slide .owl-dots button {
    width: 100%;
    height: 2px;
    padding: 0;
    border: none;
    margin-right: 5px;
    background: rgba(215, 215, 215, .5);
  }
  .mob-slide .owl-dots button.active {
    background: #fff;
  }
  .mob-slide .owl-dots button:last-child {
    margin-right: 0;
  }
  .product-side {
    margin-top: 30px;
  }
  .colors a {
    width: 40px;
    height: 30px;
  }
  .size-block .size-item {
    width: 50px;
    height: 50px;
  }
  /* //////// */
  .why-sec .why-slide .owl-nav button {
    top: 32%;
  }
  .why-sec .why-block img,
  .product-resp .resp-block .resp-img img,
  .product-line .line-block .line-img img {
    height: auto;
  }
  .help-sec .help-block {
    margin-bottom: 10px;
    height: auto;
  }
  .header-menu .header-menu-left {
    display: none;
  }
  .header-menu .header-menu-logo img {
    width: 100%;
  }
  header .navbar .navbar-nav .nav-link img {
    opacity: 1;
  }
  header .navbar .navbar-nav .nav-link.show img {
    transform: rotate(-180deg);
  }
  /* ///////////// */
  header .navbar-collapse {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
  header .navbar-collapse .mob {
    width: 100%;
  }
  header .navbar {
    position: fixed;
    left: -1000px;
    top: 0;
    z-index: 10;
    background-color: #fff;
    padding: 0;
    width: 100%;
    height: 100%;
    transition: .5s all ease;
  }
  header .navbar.active {
    left: 0;
  }
  header .navbar-expand-lg .navbar-nav {
    padding: 0 20px;
    flex-direction: column;
  }
  header .navbar .navbar-nav .nav-item.slash {
    display: none;
  }
  header .navbar .navbar-nav .nav-item {
    display: flex;
    align-items: flex-start;
    flex-direction: column; 
    justify-content: space-between;
    border-bottom: 1px solid #F0F0F0;
  }
  header .navbar .navbar-nav .nav-item:last-child {
    border-bottom: none;
  }
  header .navbar .navbar-nav .nav-link {
    padding: 15px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header .menu-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F0F0F0;
    padding: 20px;
  }
  header .menu-links {
    padding: 20px 20px 0 20px;
  }
  header .menu-links .links-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #F2F2F2;
    padding-bottom: 15px;
  }
  header .menu-links a {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #D7D7D7;
  }
  header .menu-links a.active {
    color: #1B3B58;
  }
  header .menu-login-btn {
    padding: 0 20px 20px 20px;
    margin-top: auto;
  }
  /* /////////// */
  .navbar-nav .dropdown-menu {
    margin: 0;
    border: none;
    padding-top: 0;
    padding-bottom: 10px;
  }
  header .navbar .navbar-nav .dropdown-item {
    padding: 0;
    margin-bottom: 5px;
  }
  footer .ftr-menu p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
  }
  footer .ftr-menu p img {
    opacity: 1;
  }
  footer .ftr-menu.active p img {
    transform: rotate(-180deg);
  }
  footer .ftr-menu {
    height: 28px;
    overflow: hidden;
    border-bottom: 1px solid #F0F0F0;
    margin-top: 15px;
    transition: .4s;
  }
  footer .ftr-menu.active {
    height: auto;
    overflow: visible;
  }
  footer .ftr-col:last-child .ftr-menu {
    border: none;
  }
  footer .ftr-col:first-child .ftr-menu {
    margin-top: 0;
  }
  footer {
    padding-top: 30px;
  }
  footer .ftr-rov {
    padding-bottom: 15px;
  }
  footer .ftr-menu a:last-child {
    margin-bottom: 15px;
  }
  footer .socials {
    display: none;  
  }
  footer .ftr-politic .ftr-politic-text, footer .ftr-politic{
    flex-direction: column;
    align-items: center ;
  }
  footer .ftr-politic a {
    margin: 5px 0;
  }
  footer .socials.mob {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px; 
  }
  .cart-modal .cart-modal-btns {
    flex-direction: column;
    margin-top: 60px;
  }
  .cart-modal .cart-modal-btns .transparent-btn {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .cart-modal .cart-modal-btns .blue-btn {
    margin-left: 0;
  }
  .cart-modal .progress-title p {
    font-size: 12px;
  }
  .modal-header h5 {
    font-size: 16px;
  }
  .modal-size .pop-size-img img {
    max-height: auto;
  }
  .modal-size .pop-size-col {
    padding-right: 15px;
  }
  .product-cart .product-col {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .title h2 {
    margin-bottom: 20px;
  }
}


@media only screen and (max-width: 480px) {
  .product-line .line-col .owl-nav button {
    top: 30%;
  }
  .why-sec .why-slide .owl-nav button {
    top: 26%;
  }
}


@media only screen and (max-width: 420px) {
  .product-info .info-temprature .temprature-items p {
    width: 45%;
  }
  .product-info .info-temprature .temprature-items .items-line {
    width: 55%;
  }
}


@media only screen and (max-width: 375px) {
  .product-info .info-temprature .temprature-items p {
    width: 50%;
  }
  .product-info .info-temprature .temprature-items .items-line {
    width: 50%;
  }
}


